# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Java / Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

# Python
venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db

# Node.js
node_modules/
package-lock.json

# Temporary files
temp_banco.csv
Presupost 2026.xlsx
*.env